*{
    font-family:Work Sans, Verdana;
    font-weight:400;
    color:black;
}
.bold{
    font-weight:500;
}
.project{
    transition:300ms ease-out;
}
.project:hover{
    transform:scale(1.015,1.015);
    background:white;
    opacity:0.7;
    cursor: pointer;
}
nav a{
    color:black;
}
nav a:hover{
    text-decoration:none;
    color:black;
}
.playfair-display{
    font-family: Playfair Display SC, Verdana;
}