<!--<footer class="site-footer h-card">-->
  <!--<data class="u-url" href="{{ "/" | relative_url }}"></data>-->

  <div class="container-fluid p-3 bg-light border-top">
    <div class="row">
      <div class="col-4">
        <p class="lead">{{ site.title | escape }}</p>
      </div>
      <div class="col-4">
        <!--<a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>-->
        <p>{{ site.email }}</p>
        <br>
        <a href='https://github.com/TimothyDelille' style="text-decoration:None;">
          <i class="fab fa-github"></i> timothydelille
        </a>
        <br>
        <a href='https://linkedin.com/in/timothydelille' style="text-decoration:None;">
          <i class="fab fa-linkedin"></i> timothydelille
        </a>
      </div>

    <div class="col-4">
      <p class="text-justify">{{- site.description | escape -}}</p>
    </div>

    </div>

  </div>

<!--</footer>-->
